*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #A5ABBD;
    font-family: 'Lora', serif;
}

header{
    background-color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0; 
    background-color: white;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.logo a{
    font-weight: bold;
    font-size: 50px;
    color: linear-gradient(267.7deg, #95B1AE -20.23%, rgba(31, 128, 122, 0.03125) 34.67%, rgba(31, 128, 122, 0.03125) 49.64%, rgba(32, 128, 122, 0.0416667) 110.95%, rgba(77, 182, 172, 0.911932) 116.64%, rgba(27, 126, 120, 0) 116.65%);
    text-decoration: none;

}
nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav_links{
    font-size: 16px;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    position: relative;
}
.nav_links:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}
.nav_links:hover:after{
    display: block;
}
#login:hover:after{
    display: none;
}

#login{
    position: absolute;
    border-radius: 100px;
    padding: 1rem 2.5rem;
    background-color: #1B7E78;
    color: white;
    top: -70%;
    left: 100%;
}

.intro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.intro_title{
    font-weight: bold;
    font-size: 30px;
    line-height: 198.34%;
    color: #FFFFFF;
}
.loging a{
    border-radius: 100px;
    padding: 1rem 2.5rem;
    background-color: #1B7E78;
    text-decoration: none;
    color: white;
}

section{
    background-color: #FFF7DF;
}
.navigators{
    display: flex;
    background-color: #FFF7DF;
    width: 100%;
    min-height: 50vh;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 109px;
    height: 109px;   
}
.arrows{
    width: 67px;
    height: 67px;
    cursor: pointer;
}

.navigators_in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    justify-content: space-around;
    align-items: center;
}

.comments_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.comments_title h1{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 158.34%;
    text-align: center;
    color: #1B7E78;
}
.comments_title p{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 175.78%;
    /* or 32px */

    text-align: center;

    color: #FFFFFF;
}

.reviews{
    display: flex;
    justify-content: space-between;
}
.review{
    position: relative;
    width: 373px;
    height: 343px;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 12px 35px rgba(29, 63, 46, 0.2);
    border-radius: 5px;
    margin: 0 15px;
}

.quotes img{
    position: absolute;
    width: 34px;
    height: 34.31px;
    top: 40px;
    left: 39px;    
}
.opinion p{
    position: absolute;
    top: 90px;
    left: 39px;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 175.78%;
    color: #5C5C5C;
}
.opinion h2{
    position: absolute;
    top: 263px;
    left: 109px;
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 105.47%;
    color: #5C5C5C;
}

footer{
    display: flex;
    justify-content: space-around;
    background: #212121;
}
.footer_school{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.footer_school h1{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 182.7%;
    color: #FFFFFF;
}
.footer_school p{
    font-size: 14px;
    line-height: 18px;
    width: 265px;
    height: 105px;
    color: #FFFFFF;
    padding: 15px 0;
}

.footer_contacts{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 175.78%;
    color: #FFFFFF;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_contacts p{
    padding: 5px 0;
}

